.circle-jd {
  position: relative;
  width: 100px;
  height: 100px;
  border: 4px solid rgba(150, 136, 136, .5);
  border-radius: 50%;

  .wrap {
    position: absolute;
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
    border-radius: 50%;
    background: conic-gradient(transparent 0%, transparent 60%, #22b75a);
    animation: move1 3s ease-in-out infinite;
    //小圆圈LOGO
    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #22b75a;
      box-shadow: 0 0 3px 1px #22b75a;
      top: -2px;
      left: 50%;
      z-index: 2;
    }

    //盖住里面的颜色块区域
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      background-color: #fff;
      border-radius: 50%;
    }
  }
}

@keyframes move1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}