.sq-rotation {
  position: relative;
  perspective: 100px;
  perspective-origin: left bottom;

  .wrap {
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 13px;
    text-align: center;
    line-height: 50px;
    transform-style: preserve-3d;
    //transform: rotateX(-22deg) rotateY(-23deg) rotateZ(-19deg);
    animation: move_roation 3s linear infinite;

    > div {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .top {
      background-color: rgba(220, 148, 148, 0.5);
      transform: rotateX(90deg) translateZ(25px) translateY(-25px);
    }

    .bottom {
      background-color: rgba(243, 221, 138, 0.5);
      transform: rotateX(90deg) translateZ(-25px) translateY(-25px);
    }

    .left {
      background-color: rgba(155, 220, 148, 0.5);
      transform: rotateY(-90deg) translateZ(25px) translateX(-25px);
    }

    .right {
      background-color: rgba(148, 203, 220, 0.5);
      transform: rotateY(90deg) translateZ(25px) translateX(25px);
    }

    .front {
      background-color: rgba(198, 148, 220, 0.5);
    }

    .back {
      background-color: rgba(148, 158, 220, 0.5);
      transform: translateZ(-50px);
    }
  }
}

@keyframes move_roation {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  //50% {
  //  transform: rotateX(-100deg) rotateY(-100deg) rotateZ(100deg);
  //}
  100% {
    //transform: rotateX(-22deg) rotateY(-23deg) rotateZ(-19deg);
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
